footer{
    background-color: rgb(166, 211, 250);
    height: 80px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    .flecha{
        display: flex;
        justify-content: center;
        a{
            img{
                width: 70px;
                height: 70px;
                box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
                &:hover{
                    transform: scale(1.05);
                    transition: all 0.1 ease-in;
                }
            }
        }
    }
    .whassap{
        position: fixed;
        bottom: 20px;
        right:20px;
        a{
            img{
                width: 70px;
                height: 70px;
                &:hover{
                    transform: scale(1.05);
                    transition: all 0.1 ease-in;
                }
            }
        }
    }
    .contact-info {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50px;
        text-align: left;
        
        p {
            margin: 5px 0; /* Ajusta los márgenes verticalmente */
        }
    }
}

