@import "./base/variables";

    .hero {
        background-image: url(../img/45594-celeste-y-blanco.jpg);
        height: 90vh;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        .container-hero{
            position: relative;
            top: 200px;
            left: 100px;
            width: 100vh;
            h2{
                font-size: $font-size-large;
                color: $font-color;
                margin-bottom: $container-margin;
                text-shadow: $text-shadow 1px 1px;
            }
            p{
                font-size: $font-size-medium;
                margin-bottom: $container-margin;
            }
            a{
                button{
                    font-size: $font-size-small;
                    font-weight: bold;
                    padding: $button-padding-vertical $button-padding-horizontal;
                    border-radius: $button-border-radius;
                    border: 1px solid navy(0,0,0,0.5);
                    box-shadow: 2px 2px 10px $shadow-color;
                    color: $text-shadow;
                    background-color: $primary-color;
                    &:hover{
                        background-color: $hover-primary-color;
                    }
                }
            }
        }
    }

    .servicios {
        width: 100%;
        background: linear-gradient($secondary-color, $primary-color);
        h2 {
            font-size: 3em;
            color: rgb(0, 0, 0);
            display: flex;
            justify-content: center;
            position: relative;
            margin-bottom: 60px;
            text-shadow: rgb(255, 255, 255) 1px 1px;}
        .container-servicios{
            height: 50vh;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content:space-around;
            .carta{
                margin-top: $container-margin;
                h3 {
                    margin-bottom: 30px;
                    font-size: 2em;
                    display: flex;
                    justify-content: center; }
                a {
                    &:hover{
                        transform: scale(1.05);
                        transition: all 0.2s ease-in;
                    }
                    img{
                        height: $card-height;
                        width: $card-width;
                        box-shadow: 2px 2px 10px $shadow-color;
                        backdrop-filter: blur(10px);
                    }
                }
            }
        }
    }

    .carrusel{
        width: 100%;
        background: linear-gradient($primary-color, $secondary-color);
        h2 {
            font-size: 3em;
            color: rgb(255, 255, 255);
            display: flex;
            justify-content: center;
            position: relative;
            margin-bottom: 60px;
            text-shadow: black 1px 1px;}
        .catalogo-items{
            display: flex; 
            align-items: center;
            justify-content: center;
            a{
                margin: 20px;
                img{
                    height: $card-height;
                    width: $card-width;
                    object-fit:cover;
                }
            }
        }
    }
                                // SERVICIOS
body {
    margin: 0; 
    background: linear-gradient($third-color, $text-shadow);                               
    main{
        .servicios-container{
            margin-left: 50px;
            display: flex;
            flex-direction: column;
            h2 {
            @include h2title;
            }
            #reparacion{
                h3 {
                    margin-bottom: 30px;
                    font-size: 2em;
                    display: flex;
                    justify-content: center; }
                img{
                    height: $card-height;
                    width: $card-width;
                    box-shadow: 2px 2px 10px $shadow-color;
                }
                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        font-size: 25px;
                        margin: $container-margin;
                    }
                }
            }
            #bobinado{
                h3 {
                    margin-bottom: 30px;
                    font-size: 2em;
                    display: flex;
                    justify-content: center; }
                img{
                    height: $card-height;
                    width: $card-width;
                    box-shadow: 2px 2px 10px $shadow-color;
                }
                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        font-size: 25px;
                        margin: $container-margin;
                    }
                }
            }
            #repuestos{
                h3 {
                    margin-bottom: 30px;
                    font-size: 2em;
                    display: flex;
                    justify-content: center; }
                img{
                    height: $card-height;
                    width: $card-width;
                    box-shadow: 2px 2px 10px $shadow-color;
                }
                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        font-size: 25px;
                        margin: $container-margin;
                    }
                }
            }
        }
        .boton-catalogo{
            margin: $container-margin;
            display: flex;
            justify-content: center;
        }
    }
                        // CATALOGO
    .catalogo{
        h2 {
            @include h2title;
            }
        .container-catalogo{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: $container-margin;
            .carta-catalogo{
                p{
                    font-size: 1.5em;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                }
                img{
                    height: $card-height;
                    width: $card-height;
                    border-radius:20px;
                    margin: 20px;
                    box-shadow: 2px 2px 10px $shadow-color;
                }
            }
        }
    }
                            // NOSOTROS
    .nosotros{
        h2 {
            @include h2title;
        }
        img{
            margin-left: $container-margin;
        }
        div{
            display: flex;
            justify-content: space-evenly;
            .historia{
                div{
                p{
                    margin: $container-margin;
                    font-size: 25px;
                }
                }
            }
        }
    }
    .contactarnos{
        div{
            display: flex;
            justify-content:center;
            margin-bottom: 150px;
        }
    }
}
                            // HORARIOS Y MAPA
body{
    main{
        .horarios-mapa{
            display: flex;
            justify-content:space-around;
            align-items: center;
            .mapa{
                h2{
                    margin-top: 40px;
                    margin-bottom: 40px;
                }
            }
            .horarios{
                ul{
                    li{
                        margin: $container-margin;
                        font-size: 1.0em;
                    }
                }
            }
        }
        .formulario{
            .container{
                h1{
                    margin-top: 30px;
                }
                form {
                    padding: 20px;
                    background-color: #f8f9fa;
                    border-radius: 10px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    
                    .form-group {
                        margin-bottom: 20px;
                        
                        label {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}