
$primary-color: rgb(0, 102, 192);
$secondary-color: rgb(166, 211, 250);
$third-color: rgb(73, 161, 238);
$shadow-color: rgba(0, 0, 0, 0.5);
$font-color: rgb(0, 0, 0);
$text-shadow: rgb(255, 255, 255);

$font-size-large: 70px;
$font-size-medium: 40px;
$font-size-small: 20px;

$button-padding-vertical: 5px;
$button-padding-horizontal: 200px;
$button-border-radius: 10px;

$hover-primary-color: rgb(44, 98, 246);

$container-margin: 30px;

$card-width: 400px;
$card-height: 300px;